@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: fallback;
    src: url(https://static-assets-prod.epicgames.com/static/fonts/interfontsvar/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Reglas generales de estilo */
* {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
}

#btnWhatsapp{
    background: green;
    color: white;
    padding: 15px 18px;
    border: none;
    position: fixed;
    right: 10px;
    bottom: 25px;
    border-radius: 32px;
    font-size: 1.2em;
}
#btnWhatsapp:hover{
    cursor: pointer;

}

/* HEADER */
header{
    background: #18181C;
    color: white;
    padding: 20px 24px;
    height: 32px;
}
.iblock{
    display: inline-block;
}
svg{
    fill: white;
}
#h1{
    width: 5%;
    float: left;
}
#btnh1{
    background: transparent;
    border: none;
    float: right;
    height: 100%;
    color: white;
    position: relative;
    top: -110%;
}
#h2{
    width: 74%;
    border-left-color: #303034;
    border-left-width: 4px;
    border-left-style: solid;
    padding: 0 25px;
    box-sizing: border-box;
}
.elnav{
    height: 100%;
}
#el1nav{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}
.elsecnav{
    height: 100%;
    padding: 0.7% 2%;
    float: left;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 0.9em;
    color: #AAAAAE;
}
.elsecnav:hover{
    cursor: pointer;
    color: #d6e6e5;
    background-color: #404044;
    border-radius: 8px;
}
#h3{
    width: 20%;
}
.elh3{
    margin-right: 10%;
    height: 100%;
    float: right;
}
#btnh3{
    background: #26BBFF;
    border-radius: 8px;
    padding: 0.7% 5%;
    border: none;
    font-weight: bold;
}
.elhead{
    height: 100%;
}
/*FIN HEADER*/
/*MAIN*/
main{
    padding: 0 12%;
    background: black;
    color: white;
}
/*SUBHEADER*/
#subHeader{
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background: black;
}
#inputSub{
    background: #202020;
    height: 30px;
    border-radius: 18px;
    width: 200px;
    border: none;
    padding-left: 10px;
}
#inputSub:focus{
    border: none;
    outline: none;
    background: #474747;
}
.pSubHeader{
    margin-left: 20px;
    color: #7F94A5;
}
/*FIN SUBHEADER*/
/*CAROUSEL*/
#carousel1{
    height: 70vh;
}
#art1Car{
    width: 80%;
    height: 100%;
    border-radius: 18px;
    position: relative;
    background-image: url("https://cdn2.unrealengine.com/egs-horizon-forbidden-west-carousel-desktop-1920x1080-358478b6468a.jpg?h=720&quality=medium&resize=1&w=1280");
    background-size: cover;
}
#divArt1Car{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(54,54,54,0.35) 0%, rgba(112,112,112,0.15) 32%, rgba(255,255,255,0) 100%);
}
#descripcionCarousel{
    position: absolute;
    bottom: 0;
    padding: 0 0 50px 50px;
}
.btnCar{
    padding: 15px 20px;
    border: none;
    text-transform: uppercase;
}
.btnCar:hover{
    cursor: pointer;
}
.btnCarWhite{
    background: white;
}
.btnCarTrans{
    background: transparent;
    color: white;
    font-weight: bold;
}
.btnCarTrans:hover{
    background: #d3d3d691;
}
#carousel1 > article{
    display: inline-block;
}
#art2Car{
    width: 18.5%;
    height: 100%;
    float: right;
}
.selectorArt{
    width: 100%;
    height: 16.5%;
}
.selectorArt > div{
    display: inline-block;
    box-sizing: border-box;
}
.miniaturaArt{
    height: 100%;
    width: 20%;
    padding: 5px 5px;
    float: left;
}
.imgMiniatura{
    height: 80%;
    border-radius: 7px;
}
.tituloArt{
    height: 100%;
    width: 75%;
    font-size: 0.85em;
    float: right;
    padding: 15px 10px;
}
/*FIN CAROUSEL*/
/*
*Descuentos
*/
#descs{
    height: 65vh;
}
#descs > div:first-child{
    height: 10%;
    padding: 5% 0;
    box-sizing: border-box;
}
#descs > div:last-child{
    height: 90%;
}
#descs > div:last-child h3{
    display: inline-block;
    float: left;
    margin: 0;
}
#descs > div:last-child > article{
    height: 100%;
    width: 19%;
    margin-right: 0.5rem;
    display: inline-block;
    float: left;
}
#descs > div:last-child > article img{
    height: 70%;
    width: 100%;
}
#descs article > p{
    margin: 10px 0;
}
#descs article p:first-of-type{
    color: #7F94A5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
}
#descs article p:last-of-type{
    text-overflow: ellipsis;
    font-size: 1.15em;
    height: 1.3em;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
#descs article div:last-child > div{
    display: inline-block;
    width: 30%;
    background: #26BBFF;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 0.8em;
    margin-right: 15px;
}
#descs article div:last-child > div ~ span{
    color: #7F94A5;
}
#descs article div:last-child > div + span{
    text-decoration: line-through;
}
/* Fin de Descuentos */
/* Ofertas */
#ofer{
    height: 50vh;
}
#ofer > div {
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 2em;
}
#ofer > div img{
    height: 50%;
    width: 100%;
}
